.vscode/
node_modules/
volumes/
sandbox/
.DS_Store
npm-debug.log
docker_compose/local/mysql/docker/mysql/data
docker_compose/local/mysql/docker/mysql/sql
docker_compose/compute_engine/mysql/docker/mysql/data
docker_compose/compute_engine/mysql/docker/mysql/sql
docker_compose/compute_engine/mysql/docker/redis/data
*.pem