node_modules/
build/
volumes/
sandbox/
www/
config/app.ts
infrastructure/ipqualityscore/config.ts
.vscode/
.DS_Store
npm-debug.log
docker_compose/mysql/docker/mysql/data
docker_compose/mysql/docker/mysql/sql
infrastructure/prisma/schema/migrations